/* Loading */
.spinner-overlay{
  background-color: black;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

/* Home Page */

.card-img-top{
  width: 250px;
  height: 250px;
  padding: 0 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
}

/* Login Page */

.login-test-data{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #f7f7f9;
  margin-bottom: 1rem;
}

.login-title-test-data{
  padding-top: 1em;
  font-weight: bold;
}

/*Product Detail Page*/

.product-detail-h1{
  padding-bottom: 1rem;
}

.product-detail-img-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-detail-img{
  width: 400px;
}

.product-detail-description-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-detail-description{
  padding-bottom: 0.3rem;
  text-align: justify;
}

.product-detail-quantity{
  display: flex;
  flex-direction: column;
}

.product-detail-quantity input{
  max-width: 200px;
}

.product-detail-card{
  margin: 1rem 0;
}
.product-detail-card-img-top{
  width: 200px;
  height: 200px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
}

/* Purchases Page*/
.purchases-container.container{
  margin: 1.5rem 0;
  padding-top: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid #55595c;
}

.purchases-date{
  border-bottom: 1px solid #55595c;
}

.purchases-detail{
  padding: 1rem 0;
}

.purchases-detail-price{
  color: green;
  font-weight: bold;
}

/* Cart - Component*/

.cart-side-bar-body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cart-side-bar-body-container{
  width: 100%;
}

.cart-side-bar-body-products.container{
  padding: 1rem;
  margin: 1rem 0;

}

.col-sm-12{
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.col-sm-12 b{
  font-weight: bold;
}

.cart-side-bar-body-button{
  border-top: 1px solid #55595c;
  width: 100%;
}

.cart-side-bar-body-button p{
  text-align: end;
  font-weight: bold;
  margin: 1.3rem 0 0 0;
}

.cart-side-bar-body-button button{
  margin-top: 1.5rem;
  width: 100%;
}

/* Medias queries */

@media (max-width: 1199px) {
  .product-detail-description{
    padding-top: 1.5rem;
  }
}

@media (max-width: 750px) {
  .product-detail-img{
    width: 250px;
  }
}
